.site-content {
	padding: 0 1rem;
	max-width: 832px;
	width: 100%;
	margin: auto;

	> button {
		margin-top: clamp(30px, 6vw, 60px);
		border: none;
		padding: 1rem 2rem;
		border-radius: 0.5rem;
		box-shadow: 0 0 10px hsl(0, 0%, 10%);
		font-size: clamp(16px, 4vw, 30px);
		width: 100%;
	}
}